@import "tailwindcss";

@theme {
  --color-brand-50: #f0f4ff;
  --color-brand-100: #e0e7ff;
  --color-brand-500: #4f46e5;
  --color-brand-600: #4338ca;
  --color-brand-700: #3730a3;

  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-danger: #dc2626;
}
